* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
}
/* Global Classes */
.p-color {
	color: #fec222;
}
.p-bg-color {
	background-color: #0c173a;
}

body {
	background: url("/assets/img/background.png") center/cover no-repeat;
}

/* Header CSS Here */
.header-container {
	background: url("/assets/img/navbar.png") center/cover no-repeat;
}

/* Crads Container CSS Here */
.cards-header {
	margin-bottom: 50px;
}
.back-btn {
	position: relative;
}
.back-btn:hover {
	color: #fec222;
}
.back-btn:hover::after {
	background-color: #09102a;
}
.back-btn::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #0c173a;
	z-index: -1;
	border-radius: 10px;
	transform: skew(-10deg) scale(1.1);
	transform-origin: top left;
}

.add-new-card {
	background: url("/assets/img/silvers.png") center/cover no-repeat;
	min-width: 200px;
	width: auto;
}
.add-new-card button {
	position: relative;
	outline: none;
	top: -20px;
	scale: calc(1.3);
}

.cards {
	backdrop-filter: blur(50px);
	border-radius: 30px;
}
.card-box {
	background: url("/assets/img/item-bg.png") center/90% no-repeat;
	padding: 30px;
	clip-path: polygon(
		20px 0%,
		calc(100% - 20px) 0%,
		100% 20px,
		100% calc(100% - 20px),
		calc(100% - 20px) 100%,
		20px 100%,
		0 calc(100% - 20px),
		0 20px
	);
}

.chat-box {
	background: url("/assets/img/bg-content.png") center/cover no-repeat;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.chat-footer {
	width: 100%;
	background-color: #121840;
	border-bottom: 4px solid #e0b240;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.online-chat {
	background: url("/assets/img/img-chat-character-1.png") center/100% no-repeat;
	padding-right: 100px;
}
.online-chat2 {
	background: url("/assets/img/system-message.png") center/100% no-repeat;
}
.friends-boxes {
	height: 500px;
	overflow-y: scroll;
	padding-right: 30px;
}

.online-friends-box {
	border-radius: 30px;
	border-top: 4px solid #fec222;
	background: url("/assets/img/users-friends-bg.png") center/cover no-repeat;
}
.divider-ver {
	width: 1px;
	height: 40px;
	background-color: #999;
}
.filter-btns button {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 0.623);
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
		url("/assets/img/mode-button.png") center/cover no-repeat;
	border: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top: 3px solid #fec222;
}
.filter-btns button.active {
	color: white !important;
	background-image: linear-gradient(#ce7a19b9, #ce7a19b9),
		url("/assets/img/mode-button.png");
}
.friends-items {
	height: 400px;
	overflow-y: scroll;
	padding-right: 10px;
}
.friend-request-item {
	background-color: #0c397d;
	width: 100%;
	color: white;
	margin-bottom: 20px;
}
.friend-request-item:nth-child(even) {
	background-color: #4b2759;
}
.friend-request-item:nth-child(even) img {
	border-color: magenta;
}
.friend-request-item img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border: 3px solid aqua;
}
.friend-request-item .text-success {
	color: #55ca63 !important;
}
/* Footer */
footer {
	background: url("/assets/img/footer.png") center/cover no-repeat;
	padding: 50px;
}
.footer-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fec222;
	color: #09102a;
	text-decoration: none;
}

/* Scrollbar Style here */

.friends-boxes::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background-color: #f0f0f0;
}

.friends-boxes::-webkit-scrollbar-thumb {
	background: url("/assets/img/scroll-icon.png") center/cover no-repeat;
	background-color: #fec222;
	border-radius: 6px;
	border: 3px solid #f0f0f0;
}

.friends-boxes::-webkit-scrollbar-track {
	background-color: #f0f0f0;
	border-radius: 6px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.friends-items::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background-color: #f0f0f0;
}

.friends-items::-webkit-scrollbar-thumb {
	background: url("/assets/img/scroll-icon.png") center/cover no-repeat;
	background-color: #fec222;
	border-radius: 6px;
	border: 3px solid #f0f0f0;
}

.friends-items::-webkit-scrollbar-track {
	background-color: #f0f0f0;
	border-radius: 6px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
